<div class="flex justify-center pb-6">
  <form action="" method="get" class="relative w-full lg:w-2/3">
    <c-icons.search
      class="absolute left-4 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white"
    />
    <input
      type="text"
      name="query"
      class="pl-12 pr-4 py-4 w-full m-auto border-gray-300 rounded-full bg-zinc-800 text-zinc-200 placeholder-zinc-500 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:border-gray-500"
      placeholder="Search articles ..."
    />
  </form>
</div>
